<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
  
  <a class="pure-menu-heading" href="">
      <span style="display: inline-block; vertical-align: middle; font-size: 0.9em; text-align: center">
        {{ .Site.Params.course | safeHTML }} <br/></small>
        <span style="font-size: 0.75em">{{ .Site.Params.semester | safeHTML }}</span>
      </span>
      &nbsp;
      {{ .Site.Title | safeHTML }}
  </a>

  <ul class="pure-menu-list">
    {{ range .Site.Menus.main }}
      <li class="pure-menu-item">
        <a class="pure-menu-link" {{ printf "href=%q" .URL | safeHTMLAttr }}>{{ .Pre }} {{ .Name }}</a>
      </li>
    {{end}}
  </ul>

</div>
